extends base.pug

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Passward", name="oldPW", type="password")
        input(placeholder="New Passward", name="newPW", type="password")
        input(placeholder="New Passward Confirmation", name="newPW2", type="password")
        input(type="submit", value="Change Password")