extends base.pug

block content 
    form(method="POST")
        input(placeholder="Old Passward")
        input(placeholder="New Passward")
        input(placeholder="New Passward Confirmation")
        input(type="submit", value="Change Password")