extends base.pug

block nav 
    nav 
        ul 
            li 
            a(href="/") Home
block content
    h4 Change Title of video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description",type="text", value=video.description,placeholder="Description", required, maxlength=50)
        input(name="hashtags",type="text",value=video.hashtags.join() placeholder="Hashtags, separated by comma", required)

        input(type="submit", value="Save")