extends base.pug
include mixins/video


block content 
    h2 Welcome here, you will see the trendig videos
    ul 
        each potato in videos
            +video(potato)
        else 
            li Sorrt Nothing Found