extends base.pug
include mixins/video

block nav 
    nav 
        ul 
            li 
                a(href="/videos/upload") Upload Video
            li 
                a(href="/search") Search Video
            li 
                a(href="/join") Join

block content 
    ul 
        each potato in videos
            +video(potato)
        else 
            li Sorrt Nothing Found